<h1>Edit a Question</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for submitting questions</p>
     <ul>
       <li>Is it useful for other readers?</li>
       <li>Is the answer present in another post?</li>
       <li>Are you being respectful and considerate?</li>
     </ul>
   </div>
   <div class="col-md-8">
     <%= form_for @question do |f| %>
       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter question." %>
       </div>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Provide details or context." %>
       </div>
       <div class="form-group">
         <%= f.submit "Submit", class: 'btn btn-success' %>
       </div>
     <% end %>
   </div>
 </div>